* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Monteserrat", sans-serif;
    text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.header {
    background: lightsteelblue;
    color: darkslategrey;
    padding: 10px;
}

.header p {
  font-size: 16px;
}

.survey {
    width: 80%;
    margin: 20px auto;
    background: white;
    color: black;
    height: 200px;
    border-radius: 8px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.404);
    /* position: relative; */    
    /* border: 1px solid red; */
}

.end {
  background: white;
  color: lightslategrey;
  width: 80%;
  margin: 35% auto;
  padding: 20px 0;
  border-radius: 3px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
}

.end h1 {
  margin: 5px;
}

.end p {
  padding: 10px;
}

.end a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
  border-radius: 4px;
  background: #d3d3d3;
  outline: none;
}

.end a:hover {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.404);
    transition: 0.3s;

}

.end {
  display: none;
}
