* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Monteserrat", sans-serif;
    text-align: center;

}

a {
    text-decoration: none;
    color: black;
}

li {
    text-decoration: none;
    list-style: none;
}

.header {
    background: lightsteelblue;
    color: darkslategrey;
    padding: 10px;
}

.header p {
    font-size: 16px;
}

.survey {
    width: 80%;
    margin: 20px auto;
    background: white;
    color: black;
    height: 200px;
    border-radius: 8px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.404);

}

.survey h3 {
    margin: 8px;
    padding-top: 10px;
}

.survey li {  
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    padding: 4px;
}


.survey li:hover {
    background: #d3d3d3 ;
    width: 150px;
    margin: 0 auto;
    padding: 4px;
    border-radius: 3px;
    transition: 0.3s ease;
}

.end {
    background: white;
    color: lightslategrey;
    width: 80%;
    margin: 35% auto;
    padding: 20px 0;
    border-radius: 3px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
}

.end h1 {
    margin: 5px;
}

.end p {
    padding: 10px;
}

.end a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    background: #d3d3d3;
    outline: none;
}

.end a:hover {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.404);
    transition: 0.3s;

}

.q1 {
    display: block;
}

.q2 {
    display: none;
}

.q3 {
    display: none;
}

.end {
    display: none;
}